.gradeA {
    background-color: lightgreen;
    padding: 5px;
    margin: 2px;

}
 .gradeB {
    background-color: linen;
    padding: 5px;
    margin: 2px;
 }

 /*Attribute Sector*/
 input[type=text] {
    border: 2px solid blue;
    background-color: linen;
    padding: 5px;

}

input[type="email"] {
    border: 2px solid green;
    background-color: #efefef;
    padding: 5px;
}