.inline-button {
    display: inline;
    border: 2px solid blue;
    padding: 10px;
    background-color: lightcoral;
    margin: 5px;
}

.block-button {
    display: block;
    border: 2px solid green;
    padding: 10px;
    background-color: lightgreen;
    margin:5px;
}

.inline-block-button {
    display: inline-block;
    border: 2px solid red;
    padding: 10px;
    background-color: pink;
    margin: 5px;
}