body {
      font-family: 'Roboto', sans-serif;
      margin: 20px;
    }

    .normal {
      font-weight: normal; /* Same as 400 */
    }

    .bold {
      font-weight: bold; /* Same as 700 */
    }

    .lighter {
      font-weight: lighter;
    }

    .bolder {
      font-weight: bolder;
    }

    .fw100 {
      font-weight: 100;
    }

    .fw500 {
      font-weight: 500;
    }

    .fw900 {
      font-weight: 900;
    }

    .question {
      margin-top: 20px;
      font-style: italic;
    }